

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card-img-top{
  height: 20rem;
}

.card-img{
  height: 15rem;
}

.nav-link:hover, link:hover{
  background-color: #95496E;
  border-radius: 10px;
}

.homeimg{
  background-repeat: no-repeat;
  width : 100%;
  height : 100%;
}

.textcolor, .card-body{
  color: #95496E;
}

.bgcolor{
  background-color: #95496E;
}

.footer{
  position: relative;
  background-color: black;
  color:#95496E;
  bottom: -150px;
  left: 0px;
  right: 0px;
  margin-top: 50px;
  padding: 70px;
  margin-bottom: 0px;
}

.defaultcol{
  background-color: #faf2e9;
  color:#95496E;
}

.cartimg{
  height : 100%;
}

.navbar{
  height: 6rem;
}



.card:hover{
  transform: scale(1.06);
  transition-delay: 100ms;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.homebg{
  background-color: #F6ECE0;
}

.Noitems{
  padding-top: 200px;
}  

.profile {
  border: 2px solid #95496E;
  border-radius: 50%;
  padding: 2px;
  width: 75px;
  height: 75px;
}

.profile:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#dropdown-basic{
  border: 2px solid #95496E;
}

#dropdown-basic:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



.containe {
  position: relative;
  animation: train 10s infinite;
}

.message{
  position: absolute;
  top: 8px;
  left:100px;
  font-size: 18px;
}

@keyframes train {
  0%{
    right:80%;
  }
  100%{
    right:-73%;
  }
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content:center;
  padding: 3rem;
}

.flex-container > div {
  background-color: #95496E;
  width: 15rem;
  height: 15rem;
}



.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  padding: 10%;
  background-color: #faf2e9;
  color: #95496E;
  transform: rotateY(180deg);
}

.flip{
  width: 100%;
  height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #faf2e9; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #95496E; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}


.card{
  border-radius: 50%;
}

.carow{
  font-family: 'Chakra Petch', sans-serif;
  width: 100%;
}

.modal{
  width : 500px;
}

.flex-containe {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content:center;
  padding: 3rem;
}

.flex-containe > div {
  margin: 2rem;
  background-color: #95496E;
  width: 30rem;
  height: 30%;
}

.stick{
  display: fixed;
  margin-top: 2px;
}

