body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card-img-top{
  height: 20rem;
}

.card-img{
  height: 15rem;
}

.nav-link:hover{
  background-color: #95496E;
  border-radius: 10px;
}

.homeimg{
  background-repeat: no-repeat;
  width : 100%;
  height : 100%;
}

.textcolor, .card-body{
  color: #95496E;
}

.bgcolor{
  background-color: #95496E;
}

.footer{
  position: relative;
  background-color: black;
  color:#95496E;
bottom: -150px;
  left: 0px;
  right: 0px;
  margin-top: 50px;
  padding: 70px;
  margin-bottom: 0px;
}

.defaultcol{
  background-color: #faf2e9;
  color:#95496E;
}

.cartimg{
  height : 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content:center;
  padding: 3rem;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 30rem;
  height: 50rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.flex-container>div>p{
  padding: 20px;
  font-size: 2rem;
}

.flex-container>div>img{
  width: 100%;
}

@media screen and (max-width: 500px) {
  .flex-container {
    background-color: black;
  }
}


.card:hover{
  transform: scale(1.06);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.homebg{
  background-color: #F6ECE0;
}

.Noitems{
  padding-top: 200px;
}